.main_chat
  .main_chat__group-info
    .left-content
      .left-content__name
        = @group.name
      %ul.left-content__member-list
        Member :
        - @group.users.each do |user|
          %li.left-content__member-list--member
          = user.name
    .right-content
      = link_to edit_group_path(@group), class:"right-content__edit-btn" do  
        Edit
    
  .main_chat__message-list
    .messages
      = render @messages
      
  .main_chat__message-form
    = form_for [@group, @message], html: { class: "input-box" } do |f|
      .input-box__textarea
        = f.text_field :content, class: 'input-box__textarea__text' ,placeholder: 'type a message'
        .input-box__textarea__mask
          = f.label :image, class: 'input-box__textarea__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'input-box__textarea__mask__file'
      = f.submit 'Send', class: 'submit-btn'