.side_bar
  .side_bar__user-name
    .top-items
      %h3.top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path, class: "top-items__icons__edit-btn" do
          %i.fas.fa-edit
        = link_to edit_user_path(current_user), class: "top-items__icons__cog-btn" do
          %i.fas.fa-cog
  .side_bar__group-list
    - current_user.groups.each do |group|
      .group-list__content
        = link_to group_messages_path(group), class: "group" do
          .group-list__content__name
            = group.name
          .group-list__content__new-message
            = group.show_last_message  